<div id="<%= dom_id recipe %>">
  <div>
    <h2>
      <%= recipe.name %>
    </h2>
    <span>
      By: <%= recipe.user.name %>
    <span>
  </div>
  <div>
    <p>
      Total Food Items: <%= recipe.foods.count %>
    </p>
    <p>
      Total Price: #
    </p>
  </div>
</div>
