<div class="recipe-details">
    <h2><%= @recipe.name %></h2>
    <div>
        Preparation time: <%= @recipe.preparation_time %>
        Cooking time : <%= @recipe.cooking_time %>
        Steps to go...
        <button> Generate Shopping List </button>
    </div>
    <div>
        <input type="radio" name="recipe_type" value="public" checked> Public

        <button>Add ingredients</button>
    </div>

    <hr />
    <p>Food Table here..</p>

</div>
