<div class="recipe_wrapper">
  <%= link_to recipe_path(recipe), class: "recipe" do %>
    <div>
      <h2>
        <%= recipe.name %>
      </h2>
      <p>
        <%= recipe.description %>
      </p>
    </div>
  <% end %>
  <div class="plus">
    <%= button_to "Remove", recipe, method: :delete, class: "inline_btn remove" %>
  </div>
</div>
