<%= link_to recipe_path(recipe), class: "recipe" do %>
  <div>
    <h2>
      <%= recipe.name %>
    </h2>
    <span>
      <%= button_to "Remove", recipe, method: :delete, class: "inline_btn remove" %>
    <span>
  </div>
  <div>
    <p>
      <%= recipe.description %>
    </p>
  </div>
<% end %>
