<h1 class="page_title">Recipes</h1>
<div class="btn_shell">
    <%= link_to "New Recipe", new_recipe_path, class: "btn" %>
</div>

<div class="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
