<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe) %>
</div>

<% if @ingridients.empty? %>
  <p>No ingridients</p>
<% else %>
  <table id="foods">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ingridients.each do |ingredient| %>
        <%= render ingredient %>
      <% end %>
    </tbody>
  </table>
<% end %>
